@model IEnumerable<LibanonProject.Models.Book>

@{
    ViewBag.Title = "BookIsBorrow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Borrowed </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.BorrowerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowerPhone)
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            <img src="@Url.Content("~/Content/IMG/" + item.Image)" style="width:150px; height:200px;margin:10px;" />
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerPhone)
        </td>
        
        
        <td>
            @Html.ActionLink("Return", "Return", new { id=item.BookId })
            
        </td>
    </tr>
}

</table>
